.awery-center {
	align-self: center;
	max-width: 1000px;
	width: 100%;
	padding-inline: 2rem;
}

.awery-header {
	display: flex;
	justify-content: center;

	.awery-header-content {
		display: flex;
		align-items: center;
		padding-block: 1rem;

		.awery-header-logo {
			width: 3rem;
			margin-right: 1rem;
		}

		.awery-header-name {
			font-weight: 700;
			font-size: 2rem;
			font-family: sans-serif;
		}
	}
}

.awery-footer {
	display: flex;
	justify-content: center;
}

.button-circle-primary {
	all: unset;
	background-color: #2e2e2e;
	height: 2.4em;
	border-radius: 2.4em;
	padding-inline: 1.4em;
	color: #ffffff;
	padding-bottom: .15em;
	transition: .1s;

	&:hover {
		background-color: #494949;
	}

	@media (prefers-color-scheme: dark) {
		background-color: white;
		color: black;

		&:hover {
			background-color: #dfdfdf;
		}
	}
}