<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="light-dark">
	<meta name="darkreader-lock">
	<% /* <meta name="theme-color" content="#000000"> */ %>
	<link rel="stylesheet" href="<%= it.styles %>">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	<title><%= it.title %></title>
	<meta property="og:title" content="<%= it.title %>">
	<meta name="description" content="<%= it.description %>">
	<meta property="og:description" content="<%= it.description %>">
</head>
<body>
	<header class="awery-header">
		<div class="awery-center awery-header-content">
			<img class="awery-header-logo" src="/icon.png" alt="Awery Logo" title="Awery Logo">
			<span class="awery-header-name">Awery</span>
		</div>
	</header>

	<%~ it.body %>

	<footer class="awery-footer">
		<div class="awery-center">
			<p>Made by MrBoomDev in 2024</p>
		</div>
	</footer>
</body>
</html>